<script setup>
import { inject, ref } from 'vue';

const axios = inject('axios')

// reactive state
const fileInput = ref({})
const fileName = ref('')
const classResult = ref('')
const imageResult = ref('')
const imageOriginal = ref('')

// method
function fileInputUpdate(e) {
  let files = e.target.files || e.dataTransfer.files;
  console.log(files)
  if (!files.length)
    return;
  fileInput.value = files[0]
  fileName.value = files[0].name
}

function submitForm(e) {
  const formData = new FormData();
  formData.append("file", fileInput.value)
  axios.post("http://127.0.0.1:8000/api/roadhole/classify", formData, {
    headers: {
      "Content-Type": "multipart/form-data"
    }
  })
    .then(res => {
      classResult.value = res.data.kerusakan
      imageResult.value = res.data.file
      imageOriginal.value = res.data.orig_file
    })
    .catch(err => {
      console.log(err)
    })
}
</script>

<template>
  <div class="container">
    <div class="row mt-5">
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <form method="post" @submit.prevent="submitForm">
              <div class="file-drop-area mb-3">
                <span class="choose-file-button">Choose files</span>
                <span class="file-message" v-if="fileName != ''">{{ fileName }}</span>
                <span class="file-message" v-else>or drag and drop files here</span>
                <input class="file-input" type="file" v-on:change="fileInputUpdate">
              </div>
              <button v-if="!isSubmitted && fileName != ''" type="submit" class="btn btn-primary">Upload</button>
              <button v-else type="submit" class="btn btn-primary" disabled>Upload</button>
            </form>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <img v-if="imageOriginal != ''" v-bind:src="'data:image/jpeg;base64,' + imageOriginal" />
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="row">
          <div class="col-12">
            <h2 v-if="classResult">Tingkatan:{{ classResult }}</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <img v-if="imageResult != ''" v-bind:src="'data:image/jpeg;base64,' + imageResult" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.file-drop-area {
  position: relative;
  display: flex;
  align-items: center;
  width: 450px;
  max-width: 100%;
  padding: 25px;
  border: 1px dashed rgb(66 59 59 / 40%);
  border-radius: 3px;
  transition: 0.2s;

}

.choose-file-button {
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  padding: 8px 15px;
  margin-right: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.file-message {
  font-size: small;
  font-weight: 300;
  line-height: 1.4;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
  opacity: 0;

}
</style>