<script setup>
import { inject, onMounted, ref } from 'vue';
import Modal from '../components/Modal.vue';

const axios = inject('axios')
const classList = ref([])
const imageList = ref({ "image_list": [] })
const currentPage = ref(1)
const hasNextPage = ref(true)
const openModal = ref(false)
const imageUrl = ref(null)

onMounted(() => {
	getClassList()
	getImageList()
})

function getClassList() {
	axios.get("http://127.0.0.1:8000/api/roadhole/class/list")
		.then(res => {
			classList.value = res.data.class_list
		})
		.catch(err => {
			console.log(err)
		})
}

function getImageList(event) {
	let requestParam = { page: 1, size: 10 }
	if (event && event.target.id == "damage-level") {
		requestParam.damage_level = event.target.value
	}
	axios.get("http://127.0.0.1:8000/api/roadhole/image/list", { params: requestParam })
		.then(res => {
			imageList.value = res.data.items
			currentPage.value = res.data.page
			hasNextPage.value = res.data.page != res.data.pages && res.data.total != 0
		})
		.catch(err => {
			console.log(err)
		})
}

function getNextImageList() {
	axios.get("http://127.0.0.1:8000/api/roadhole/image/list", { params: { page: currentPage.value + 1, size: 10 } })
		.then(res => {
			imageList.value = [...imageList.value, ...res.data.items]
			currentPage.value = res.data.page
			hasNextPage.value = res.data.page != res.data.pages
		})
		.catch(err => {
			console.log(err)
		})
}

function showImage(image) {
	openModal.value = true
	if (null != image) {
		imageUrl.value = '/predict/' + image
	}
}

function hideImage(val) {
	openModal.value = val
	imageUrl.value = null
}
</script>

<template>
	<div class="container">
		<div class="row mt-3">
			<div class="col-3">
				<select name="damange-level" id="damage-level" class="form-select" @change="getImageList">
					<option value=""></option>
					<option v-for="item in classList" :value="Object.keys( item )[0]">{{ item[Object.keys( item )[0]] }}</option>
				</select>
			</div>
		</div>
		<div class="row mt-5">
			<div v-for="item in imageList" class="col-4 mb-3">
				<div class="card" style="width: 18rem;" @click="showImage(item.saved_filename)">
					<img v-if="item.saved_filename == null" src="https://placehold.co/600x400" class="card-img-top" alt="...">
					<img v-else :src="'/predict/' + item.saved_filename" class="card-img-top" alt="...">
					<div class="card-body">
						<p class="card-text">{{ item.filename }}</p>
					</div>
				</div>
			</div>
		</div>
		<div v-if="hasNextPage" class="row mb-5">
			<div class="col-12">
				<button @click="getNextImageList" class="btn btn-success">loadmore...</button>
			</div>
		</div>
	</div>
	<Modal :modalSwitch="openModal" :image="imageUrl" @close-modal="hideImage"></Modal>
</template>