<script setup>
import { Modal } from "bootstrap";
import { defineProps, onMounted, reactive, ref, watch, watchEffect } from 'vue';

const props = defineProps({
	modalSwitch: Boolean,
	image: String
})

const state = reactive({
	modal_demo: null,
})
const emit = defineEmits(['closeModal'])
const modalState = ref(false)
const imageUrl = ref(null)

onMounted(() => {
	state.modal_demo = new Modal('#exampleModal', {})
	state.modal_demo.hide()
})

watchEffect(() => modalState.value = props.modalSwitch);
watchEffect(() => imageUrl.value = props.image);

watch(modalState, async (newModalState, oldmodalState) => {
	if (newModalState) {
		state.modal_demo.show()
	} else {
		state.modal_demo.hide()
	}
})

</script>
<template>
	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
					<button type="button" class="btn-close"  @click="emit('closeModal', false)" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<img v-if="imageUrl == null" src="https://placehold.co/600x400" class="card-img-top" alt="...">
					<img v-else :src="imageUrl" class="card-img-top" alt="...">
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" @click="emit('closeModal', false)">Close</button>
				</div>
			</div>
		</div>
	</div>
</template>