<script>
</script>

<template>
<BNavbar toggleable="lg" variant="primary" v-b-color-mode="'dark'">
  <BNavbarBrand href="#">Deteksi Kerusakan Lubang Jalan</BNavbarBrand>
  <BNavbarToggle target="nav-collapse" />
  <BCollapse id="nav-collapse" is-nav>
    <!-- Right aligned nav items -->
    <BNavbarNav class="ms-auto mb-2 mb-lg-0">
      <li class="nav-item"><router-link class="nav-link" to="/">Home</router-link></li>
      <li class="nav-item"><router-link class="nav-link" to="/database">Database</router-link></li>
    </BNavbarNav>
  </BCollapse>
</BNavbar>
</template>